root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{tf,tfvars,tftpl,hcl}]
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 100

[*.{md,markdown}]
# Two trailing spaces are a hard line break in Markdown.
trim_trailing_whitespace = false

[*.ps1]
end_of_line = crlf
indent_size = 4

[Makefile]
indent_style = tab
